<h3>Ввод данных:</h3>
    <?php
        if (isset($_SESSION['add_result'])){
            $del_but = "<a href='index.php?result=destroyLocal&name=add_result'><button>x</button></a";
            echo "<div class='resultOut'>".$_SESSION['add_result'].$del_but."</div>";
        }
        if (isset($_SESSION['add_error'])){
            $del_but = "<a href='index.php?result=destroyLocal&name=add_error'><button>x</button></a>";
            echo "<div class='errorOutBlock'>".$_SESSION['add_error'].$del_but."</div>";
        }
    ?>
<div style="text-align: left; border: 0px solid black; width: 280px;">
    <form action="index.php?refill=addRecord" method="post">
        <input type="text" name="date" value="<?= $date = isset($_POST['date']) ? $_POST['date'] : date('Y-m-d', time());?>"> date<br>
        <input type="text" name="time" value="<?= $time = isset($_POST['time']) ? $_POST['time'] : date('H:i:s', time());?>"> time<br><br>
        <label>Бак сухой?</label>
        <input type="radio" name="over" value="no" <?=@$_POST['over'] == 'no' ? "checked" : "checked";?>> NO
        <input type="radio" name="over" value="yes" <?=@$_POST['over'] == 'yes' ? "checked" : ""?>> YES<br>
        <label>Что заправляем?</label>
        <input type="radio" name="fuel_type" value="gas" <?=@$_POST['fuel_type'] == 'gas' ? "checked" : "checked";?>> Газ
        <input type="radio" name="fuel_type" value="benzin" <?=@$_POST['fuel_type'] == 'benzin' ? "checked" : "";?>> Бензин<br>
        <input type="text" name="odo" value="<?=@($_POST['odo'])?$_POST['odo']:'1'?>" placeholder="175 558"> odometr<br><br>
        <input type="text" name="total_sum" value="<?=@($_POST['total_sum'])?$_POST['total_sum']:'1'?>"> summa<br>
        <input type="text" name="price_gas" value="<?=@($_POST['price_gas'])?$_POST['price_gas']:'1'?>"> price gas<br>
        <input type="text" name="total_litres" value="<?=@(round($total_lit,2))?round($total_lit,2):'1'?>"> total liters
        <input type="submit" name="get_litres" value="посчитать"><br><br>
        <input type="text" name="id_zapravki" value="<?= @($_POST['id_zapravki']) ? $_POST['id_zapravki'] : ""; ?>" placeholder="номер заправки"> id gas station<br><br>
        <input type="submit" name="add_to_db" value="Добавить">
    </form>
</div>

<a href="index.php?login=checkUser"><button>Закрыть форму</button></a>