<h3>Добавить данные о заправке:</h3>
    <?php
        if (isset($_SESSION['add_result'])){?>
        <div class="alert alert-success" role="alert">
            <strong>Succes!</strong>
            <?=$_SESSION['add_result']?>
            <a href='<?=Config::getConfig("destrAddRes")?>'>
                <button type="button" class="btn btn-xs btn-success">x</button>
            </a>
        </div>
    <?}?>
    <?php
        if (isset($_SESSION['add_error'])){?>
        <div class="alert alert-danger" role="alert">
            <strong>Error!</strong>
            <?=$_SESSION['add_error']?>
            <a href='<?=Config::getConfig("destrAddErr")?>'>
            <button type="button" class="btn btn-xs btn-danger">x</button>
        </a>
        </div>
    <?}?>

<br>
<!--<div style="text-align: left; border: 0px solid black; width: 280px;">
    <form action="/refill/addRecord/" method="post">
        <input type="text" name="date" value="<?= $date = isset($_POST['date']) ? $_POST['date'] : date('Y-m-d', time());?>"> date<br>
        <input type="text" name="time" value="<?= $time = isset($_POST['time']) ? $_POST['time'] : date('H:i:s', time());?>"> time<br><br>
        <label>Бак сухой?</label>
        <input type="radio" name="over" value="no" <?=@$_POST['over'] == 'no' ? "checked" : "checked";?>> NO
        <input type="radio" name="over" value="yes" <?=@$_POST['over'] == 'yes' ? "checked" : ""?>> YES<br>
        <label>Что заправляем?</label>
        <input type="radio" name="fuel_type" value="gas" <?=@$_POST['fuel_type'] == 'gas' ? "checked" : "checked";?>> Газ
        <input type="radio" name="fuel_type" value="benzin" <?=@$_POST['fuel_type'] == 'benzin' ? "checked" : "";?>> Бензин<br>
        <input type="text" name="odo" value="<?=@($_POST['odo'])?$_POST['odo']:'1'?>" placeholder="175 558"> odometr<br><br>
        <input type="text" name="total_sum" value="<?=@($_POST['total_sum'])?$_POST['total_sum']:'1'?>"> summa<br>
        <input type="text" name="price_gas" value="<?=@($_POST['price_gas'])?$_POST['price_gas']:'1'?>"> price gas<br>
        <input type="text" name="total_litres" value="<?=isset($_POST['total_litres'])?round($_POST['total_litres'],2):''?>"> total liters
        <a href="index.php?refill=getLiters"><button>Посчитать</button></a><br><br>
        <input type="text" name="id_zapravki" value="<?= @($_POST['id_zapravki']) ? $_POST['id_zapravki'] : ""; ?>" placeholder="номер заправки"> id gas station<br><br>
        <input type="submit" name="add_to_db" value="Добавить">
    </form>
</div>-->
<form action="{{ refAddRec }}" method="post">
    <div style="width: 350px">
        <!--
        для изменения ширины <span>
        искать в bootstrap.css -> input-group-addon -> slimline
        -->
        <div class="input-group">
            <input name="date" value=""
                   type="text" class="form-control" placeholder="2016-12-31" aria-describedby="basic-addon1">
            <span class="input-group-addon" id="basic-addon1">Date</span>
            <!--<span class="input-group-addon">
                <input type="checkbox" aria-label="...">
                </span>-->
        </div>
        <div class="input-group">
            <input name="time" value=""
                   type="text" class="form-control" placeholder="23:59" aria-describedby="basic-addon2">
            <span class="input-group-addon" id="basic-addon2">Time</span>
        </div>
        <div class="input-group">
            <input name="odo" value="" type="text" class="form-control" placeholder="159875" aria-describedby="basic-addon3">
            <span class="input-group-addon" id="basic-addon3">Одометр (km)</span>
        </div>
        <div class="input-group">
            <input name="total_sum" value="" type="text" class="form-control" placeholder="250" aria-describedby="basic-addon4">
            <span class="input-group-addon" id="basic-addon4">Стоимость</span>
        </div>
        <div class="input-group">
            <input name="total_litres" value=""
                   type="text" class="form-control" placeholder="21" aria-describedby="basic-addon5">
            <span class="input-group-addon" id="basic-addon5">Литры (L)</span>
        </div>
        <div class="input-group">
            <input name="price_gas" value="" type="text" class="form-control" placeholder="7.69" aria-describedby="basic-addon6">
            <span class="input-group-addon" id="basic-addon6">Цена</span>
        </div>
        <div class="input-group">
            <input name="id_zapravki" value=""
                   type="text" class="form-control" placeholder="Wog" aria-describedby="basic-addon7">
            <span class="input-group-addon" id="basic-addon7">Заправка</span>
        </div>
        <br>
        <a href="{{ refIndex }}"><button type="button" class="btn btn-xs btn-primary">Закрыть форму</button></a>
        <input type="submit" name="add_to_db" value="Добавить" class="btn btn-xs btn-success">
    </div>
</form>
