ul.hr {
    margin: 0; /* Обнуляем значение отступов */
    padding: 4px; /* Значение полей */
}
ul.hr li {
    display: inline; /* Отображать как строчный элемент */
    margin-right: 5px; /* Отступ слева */
    border: 1px solid #000; /* Рамка вокруг текста */
    padding: 3px; /* Поля вокруг текста */
}

span .userWidget{
    display: inline;
    margin-right: 5px;
}

div .errorOutBlock{
    display: inline;
    border: 3px red dotted;
}

div .resultOut{
    display: inline;
    border: 3px green dotted;
}

