<!-- Fixed navbar -->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!-- <a class="navbar-brand" href="#">Bootstrap theme</a>-->
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/">Home</a></li>
                <li><a href="/page/about/">About</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        Services
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/refill/index/">Reffils</a></li>
                        <li><a href="/serviceIntervals/index/">Intervals</a></li>
                        <li role="separator" class="divider"></li>
                        <li class="dropdown-header">Nav header</li>
                        <li><a href="#">#</a></li>
                        <li><a href="#">#</a></li>
                    </ul>
                </li>
                <li><a href="/Registration/newUser/">Registration</a></li>

                {% if user == false%}
                <form class="navbar-form navbar-left" role="form" action="/login/verificationUser/" method="post">
                    <div class="form-group">
                        <input name="email" type="text" class="form-control" placeholder="email">
                    </div>
                    <div class="form-group">
                        <input name="pass" type="password" class="form-control" placeholder="password">
                    </div>
                    <button type="submit" class="btn btn-success">Submit</button>
                </form>
                {% elseif user == true%}
                <!--<li>
                    <div style="background-color: white" class="panel-default panel-body" >
                        <b>{{user}}</b>
                    </div>
                </li>-->


                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <b>{{user}}</b>
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/UserProfile/index/">Profile</a></li>
                        <li><a href="/userSettings/settingsPage/">Setting</a></li>
                        <li role="separator" class="divider"></li>
                        <li class="dropdown-header">Nav header</li>
                        <li><a href="#">#</a></li>
                        <li><a href="#">#</a></li>
                    </ul>
                </li>
                <li>
                    <a href='/login/logout/'>
                        <button type='button' class='btn btn-xs btn-danger'>Logout</button>
                    </a>
                </li>
                {% else %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        Services
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/refill/index/">Reffils</a></li>
                        <li><a href="/serviceIntervals/index/">Intervals</a></li>
                        <li><a href="#">Profile</a></li>
                        <li><a href="#">Setting</a></li>
                        <li role="separator" class="divider"></li>
                        <li class="dropdown-header">Nav header</li>
                        <li><a href="#">#</a></li>
                        <li><a href="#">#</a></li>
                    </ul>
                </li>

                {% endif %}

            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>