<!-- <ul class="hr">
        <li><a href="index.php?page=main">Main</a></li>
        <li><a href="index.php">Main2</a></li>
        <li><a href="index.php?login=checkUser">My Account</a></li>
        <li><a href="#">Registration</a></li>
        <li><a href="index.php?page=about">About</a></li>
    </ul>-->

 <ul id="nav7">
         <li><a href="index.php">Main</a>
         <li><a href="index.php?login=formLogin">Sign In</a>
         <li><a href="#">My Account</a>
                 <ul>
                         <li><a href="index.php?refill=index">Refill</a>
                         <li><a href="index.php?serviceIntervals=index">Intervals</a>
                         <li><a href="#">Contacts</a>
                 </ul>
         <li><a href="index.php?page=about">About</a>
 </ul>