<h1>Данные по заправкам:</h1>

<div class="resultOut">
    <?php
        $del_but = "<a href='index.php?result=destroyResultVar'><button>x</button></a>";
        echo isset($_SESSION['result'])? $_SESSION['result'].' '.$del_but : "";
    ?>
</div>

<div class="errorOutBlock">
    <?php
        $del_but = "<a href='index.php?result=destroyErrorVar'><button>x</button></a>";
    echo isset($_SESSION['error'])? $_SESSION['error'].' '.$del_but : "";
    ?>
</div>

<table border="1px">
    <tr>
        <th>Номер<br>заправки</th>
        <th>Дата заправки</th>
        <th>Время</th>
        <th>Показатель<br>одометра, км</th>
        <th>Сумма <br> заправки, грн</th>
        <th>Кол-во <br>заправленных<br> литров</th>
        <th>Цена <br>топлива, грн</th>
        <th>Действия</th>
    </tr>

</table>
<br>
<i>Записей пока что нету. Добавьте её с помощью кнопки "Добавить запись".</i>
<br><br>
<a href="index.php?refill=generateFormAddRecord"><button>Добавить запись</button></a>