{% if data.error %}
<div class="alert alert-danger" role="alert">
    <strong>Error!</strong>

    {{data.error}}

    <a href='/errorController/destroyMsg/name/error/'>
        <button type="button" class="btn btn-xs btn-danger">x</button>
    </a>
</div>
{% endif %}

{% if data.success %}
<div class="alert alert-success" role="alert">
    <strong>Well done!</strong>

    {{data.success}}

    <a href='/errorController/destroyMsg/name/success/'>
        <button type="button" class="btn btn-xs btn-success">x</button>
    </a>
</div>
{% endif %}
