<h1>Межсервисные интервалы:</h1>
<span>Максимальное значение интервала в днях : 7500 дней, дальше система считает не правильно. </span>
<br><br>

{% if data.err.text %}
    <span>{{ data.err.text }} Добавьте свою первую запись с помощь кнопки (Добавить запись)</span>
    <br><br>
{% endif %}

<table class="table table-bordered">
    <tr>
        <th>Дата/время<br>добавления</th>
        <th>Сервис</th>
        <th>Начало интервала</th>
        <th>Интервал замены</th>
        <th>Конец интервала</th>
        <th>Комментарий</th>
        <th>Уведомлять?</th>
        <th>Действия</th>
    </tr>
    <tr>
    {% for item in data %}

        <td>{{ item.date_add }}<br>{{ item.time_add }}</td>
        <td>{{ item.name }}</td>


        {% if item.start_odo %}
            <td>{{ item.start_odo }}</td>
            <td>{{ item.interval }}</td>
            <td>{{ item.finish_odo }}</td>
        {%endif%}

        {% if item.start_date %}
            <td>{{ item.start_date }}</td>
            <td>{{ item.interval_days }}</td>
            <td>{{ item.finish_date }}</td>
        {%endif%}

        <td>{{ item.comment }}</td>
        <td>{{ item.notify }}</td>
        <td style="width: 100px">
        {% if item.id %}
            <a href="/serviceIntervals/deleteRecord/id/{{ item.id }}">
                <button type='button' class='btn btn-xs btn-danger'>delete</button>
            </a>
            <a href="/serviceIntervals/generateFormEditRecord/module/intervaRecordEdit/id/{{ item.id }}">
                <button type='button' class='btn btn-xs btn-success'>edit</button>
            </a>
        {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>

<a href="/serviceIntervals/generateFormAddRecord/module/addIntervals/">
    <button type="button" class="btn btn-primary">Новая запись</button></a>
