<div class="panel panel-default">
    <div class="panel-body">
        <img src="/img/stat.ico" alt="..." class="img-circle" style="margin-left:20px; width: 150px; float: left">
        <div style="padding-left: 210px; display: block">
            <h1>Бортовой журнал Restat:</h1>
            <div style="margin: 0 auto;">DriverNotes помогает вести учет расхода топлива и прочих затрат,
                расходов и событий, происходящих с автомобилем. Напоминает о техническом
                обслуживании и других предстоящих событиях. Обобщает статистику и опыт
                эксплуатации всех марок и моделей автомобилей.
            </div>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-body">
        <div class="header-description">
            <button type="button" class="btn btn-warning" style="width: 500px">Создать бортовой журнал</button><br><br>
            <ul>
                <li><img src="/img/tab1.png" alt="Учет событий и затрат на автомобиль" title="Учет событий и затрат на автомобиль">
                    <p>Учет событий и затрат на автомобиль</p></li>
                <li><img src="/img/tab2.png" alt="Анализ и подробная статистика" title="Анализ и подробная статистика">
                    <p>Анализ и подробная статистика</p></li>
                <li><img src="/img/tab3.png" alt="Контроль расхода топлива" title="Контроль расхода топлива">
                    <p>Контроль расхода топлива</p></li>
                <li><img src="/img/tab4.png" alt="График технического обслуживания" title="График технического обслуживания">
                    <p>График технического обслуживания</p></li>
            </ul>

        </div>
    </div>
</div>
<div class="jumbotron">
    <h1>А что внутри бортового журнала?</h1>
    <div class="about-journal">
        <ul>
            <li>
                <img src="/img/about1.png" title="" alt="">
                <p class="journal-description">
                    Учет затрат и событий, статистика расходов
						<span>
							В <i>бортовом журнале</i> можно записывать и хранить историю вашего автомобиля, получать напоминания о предстоящем обслуживании, страховке или ремонте. Все расходы представлены в виде графиков и диаграмм, которые помогут оптимизировать ваши затраты на эксплуатацию автомобиля.
						</span>
                    <!--<a href="#" class="journal-more active">Детальнее</a>-->
                </p>
            </li>
            <li>
                <img src="/img/about2.png" title="" alt="">
                <p class="journal-description">
                    Контроль расхода топлива
						<span>
							<i>Расход топлива</i>, один из наиболее важных параметров в автомобиле, особенно при нынешних ценах на горючее. В бортовом журнале вы увидите точные цифры и графики, которые предоставят полную картину о реальном расходе топлива, и помогут понять, где выгоднее заправляться.
						</span>
                    <!--<a href="#" class="journal-more">Детальнее</a>-->
                </p>
            </li>
            <li>
                <img src="/img/about3.png" title="" alt="">
                <p class="journal-description">
                    График технического обслуживания
						<span>
							Вы можете создать и настроить ваш персональный график технического обслуживания, соблюдение которого необходимо для максимальной экономичности, надежности и долговечности автомобиля. Благодаря регулярному <i>техническому обслуживанию автомобиль</i> прослужит вам значительно дольше.
						</span>
                    <!--<a href="#" class="journal-more">Детальнее</a>-->
                </p>
            </li>
            <li class="last">
                <img src="images/about4.png" title="" alt="">
                <p class="journal-description">
                    Поиск, сравнение и общение
						<span>
							Можно найти интересующий вас автомобиль, посмотреть доступные события, сравнить затраты, расход топлива, данные о ремонте и обслуживании, ознакомится с отзывами об автомобилях и запчастях, наконец связаться с хозяином и выяснить интересующие вопросы.
						</span>
                    <!--<a href="#" class="journal-more">Детальнее</a>-->
                </p>
            </li>
        </ul>
    </div>
</div>