<h1>Данные по заправкам:</h1>
<table class="table table-bordered">
    <tr >
        <th>#</th>
        <th>Дата<br>Время</th>
        <!--<th>Время</th>-->
        <th>Одометр (km)</th>
        <th>Стоимость</th>
        <th>Литры</th>
        <th>Цена (L)</th>
        <th>Действия</th>
    </tr>
    <tr>
    <?php
	if (isset($data)){
	    if(isset($data['err'])){
	        echo $data['err']['text']." Добавьте свою первую запись с помощь кнопки <Добавить запись>";
	    }else{
            foreach ($data as $row) {
                echo "<td align='center'>".array_pop($dataKey)."</td>";
                echo "<td align='center' width='100px'>".$row['date']."<br>".$row['time']."</td>";
                echo "<td align='center'>" . $row['odometr'] . "</td>";
                echo "<td align='center'>$row[total_sum]</td>";
                echo "<td align='center'>$row[total_liters]</td>";
                echo "<td align='center'>$row[price_gas]</td>";
                echo "<td align='center'>
                            <a href='/refill/deleteRecord/id/$row[id]/'>
                                <button type='button' class='btn btn-xs btn-danger'>delete</button>
                            </a>
                            <a href='/refill/generateFormEditRecord/id/$row[id]/module/editRecord/'>
                                <button type='button' class='btn btn-xs btn-success'>edit</button>
                            </a>

                     </td>";


                echo "</tr>";
            }
        }
    }
    ?>

</table>
<br>
<br>
<br>
<a href="/refill/generateFormAddRecord/module/addRefills/"><button>Добавить запись (new)</button></a>