<h1>Данные по заправкам:</h1>

{% if data.err.text %}
    <span>{{ data.err.text }} Добавьте свою первую запись с помощь кнопки (Добавить запись)</span>
    <br><br>
{% endif %}

<table class="table table-bordered">
    <tr >
        <th>#</th>
        <th>Дата<br>(год-д-м)<br>Время</th>
        <th>Одометр (km)</th>
        <th>Стоимость</th>
        <th>Литры</th>
        <th>Цена (L)</th>
        <th>Действия</th>
    </tr>
    <tr>

    {% for item in data %}
    <td>{{ item.id }}</td>
    <td>{{ item.date }}<br>{{ item.time }}</td>
    <td>{{ item.odometr }}</td>
    <td>{{ item.total_sum }}</td>
    <td>{{ item.total_liters }}</td>
    <td>{{ item.price_gas }}</td>
    <td>
    {% if item.id %}
        <a href="{{ url.refDelRec }}{{ item.id }}">
            <button type='button' class='btn btn-xs btn-danger'>delete</button>
        </a>
        <a href="{{ url.refFormEdit }}{{ item.id }}">
            <button type='button' class='btn btn-xs btn-success'>edit</button>
        </a>
    {% endif %}
    </td>

    </tr>
    {% endfor %}
</table>
<a href="{{ url.refFormAdd }}">
    <button type="button" class="btn btn-primary">Новая запись</button></a>