{% if data.name != false%}
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Панель пользователя</h3>
    </div>
    <div class="panel-body">
        <div>
            Вы вошли как: <b>{{data.name}}</b>
        </div>
        <div>
            Запас пробега до следующей заправки: <b>{{data.reserve}}</b>
        </div>
        <div>
            Следующая заправка (приблизительно): {{data.nextRefill}}
        </div>
        <div>
            Поледняя заправка: {{data.lastRefill}}, на сумму {{data.lastAmountRefill}} грн
        </div>
        <div>
            Последний эффективный расход топлива: {{data.lastAverageRate}}
        </div>
        <div>
            Ближайшие сервисы: {{data.ThreeNextServices}}
            <a href="#">смотреть все</a>
        </div>
    </div>
</div>
{% endif %}
